table, td, th
	{
		border-collapse:collapse;
	border:1px solid #1F1F1F;
	font-size:10px;
	}
table{
	width: 100%;
}	

	td:nth-of-type(1), td:nth-of-type(2)
	{
		/*font-size:10px;*/
	}
	td:last-of-type
	{ 
		/*font-size: 10px;*/
	}
	tr:first-of-type td
	{
		/*font-size:10px;*/
	}
	th
	{
	background-color:green;
	color:white;
	}
	td
	{
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;

	}
	tbody tr:first-child  {
	    font-weight: bold;
	}		
	.ui-shadow,
	.ui-btn-up-a,
	.ui-btn-hover-a,
	.ui-btn-down-a,
	.ui-body-b,
	.ui-btn-up-b,
	.ui-btn-hover-b,
	.ui-btn-down-b,
	.ui-bar-c,
	.ui-body-c,
	.ui-btn-up-c,
	.ui-btn-hover-c,
	.ui-btn-down-c,
	.ui-bar-c,
	.ui-body-d,
	.ui-btn-up-d,
	.ui-btn-hover-d,
	.ui-btn-down-d,
	.ui-bar-d,
	.ui-body-e,
	.ui-btn-up-e,
	.ui-btn-hover-e,
	.ui-btn-down-e,
	.ui-bar-e,
	.ui-overlay-shadow,
	.ui-shadow,
	.ui-btn-active,
	.ui-body-a,
	.ui-bar-a {
	 text-shadow: none;
	 box-shadow: none;
	 -webkit-box-shadow: none;

	}
	.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	}


	/*** estilos para que los botones de las sublistas se pongan en negro ***/
	.ui-btn-up-c {
		border: 1px solid 		#111 /*{a-bup-border}*/;
		background: 			#333 /*{a-bup-background-color}*/;
		font-weight: bold;
		color: 					#fff /*{a-bup-color}*/;
		text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
		background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-bup-background-start}*/), to( #2d2d2d /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* FF3.6 */
		background-image:     -ms-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* IE10 */
		background-image:      -o-linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Opera 11.10+ */
		background-image:         linear-gradient( #444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/);
	}
	.ui-btn-up-c:visited, .ui-btn-up-c a.ui-link-inherit {
		color: 					#fff /*{a-bup-color}*/;
	}
	.ui-btn-hover-c {
		border: 1px solid 		#000 /*{a-bhover-border}*/;
		background: 			#444 /*{a-bhover-background-color}*/;
		font-weight: bold;
		color: 					#fff /*{a-bhover-color}*/;
		text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #111 /*{a-bhover-shadow-color}*/;
		background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bhover-background-start}*/), to( #383838 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* FF3.6 */
		background-image:     -ms-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* IE10 */
		background-image:      -o-linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
		background-image:         linear-gradient( #555 /*{a-bhover-background-start}*/, #383838 /*{a-bhover-background-end}*/);
	}
	.ui-btn-hover-c:visited, .ui-btn-hover-c:hover, .ui-btn-hover-c a.ui-link-inherit {
		color: 					#fff /*{a-bhover-color}*/;
	}
	.ui-btn-down-c, .ui-btn-active  {
		border: 1px solid 		#000 /*{a-bdown-border}*/;
		background: 			#222 /*{a-bdown-background-color}*/;
		font-weight: bold;
		color: 					#fff /*{a-bdown-color}*/;
		text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #111 /*{a-bdown-shadow-color}*/;
		background-image: -webkit-gradient(linear, left top, left bottom, from( #202020 /*{a-bdown-background-start}*/), to( #2c2c2c /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* FF3.6 */
		background-image:     -ms-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* IE10 */
		background-image:      -o-linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/); /* Opera 11.10+ */
		background-image:         linear-gradient( #202020 /*{a-bdown-background-start}*/, #2c2c2c /*{a-bdown-background-end}*/);
	}
	.ui-btn-down-c:visited, .ui-btn-down-c:hover, .ui-btn-down-c a.ui-link-inherit {
		color: 					#fff /*{a-bdown-color}*/;
	}
	.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
		font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
		text-decoration: none;
	}

	/***  ***/

	.ui-btn-active {
	    background: linear-gradient(#202020, #2C2C2C) repeat scroll 0 0 #222222;
	    border: 1px solid #000000;
	    color: #FFFFFF;
	    font-weight: bold;
	    text-shadow: 0 1px 1px #111111;
	}

	.ui-li .ui-btn-text a.ui-link-inherit {
		white-space:normal;
	}

	.ui-header .ui-title, .ui-footer .ui-title {
		white-space: normal;
		margin: .6em 10% .8em;
	}
	.ui-title{
		text-align: center;
		margin: 0px auto;
	}	
/*
	.ui-mini .ui-btn-icon-left .ui-icon {
		left: 10px;
	}*/
/** {
    font: 14px verdana !important;
}*/